[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
isort = "*"
flake8 = "*"

[packages]
aiohttp = "*"
pytest = "*"
pytest-pythonpath = "*"
pydantic = "*"
python-dotenv = "*"
jsonrpcclient = {extras = ["aiohttp"],version = "*"}
aioresponses = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
pytest-env = "*"
bit = "*"

[requires]
python_version = "3.7"
